@CHARSET "UTF-8";

.logo{
	position : absolute;
	text-align: center;
    width: 250px;
    height: 70px;
    border: 2px solid;
    border-radius: 10px; 
    border-color: #000000;
    margin-left:2%;
}

.model{
	position : absolute;
	text-align: center;
    width: 180px;
    height: 70px;
    border: 2px solid;
    border-radius: 10px; 
    border-color: #000000;
    margin-left:22%;
}
.userInfo{
	position: absolute;
    text-align: center;
    width: 180px;
    height: 70px; 
    margin-left: 83%;
}
.userInfoHead{
	position: absolute;
    text-align: center;
    width: 80px;
    height: 60px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #000000;
    margin-left: 7%;
    margin-top: 1.5%;
}
.userInfoName{
	position: absolute;
    text-align: center;
    width: 80px;
    height: 25px; 
    margin-left: 60%;
    margin-top: 4%;
}
.userInfoSet{
	    position: absolute;
    text-align: center;
    width: 80px;
    height: 20px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #000000;
    margin-left: 60%;
    margin-top: 23%;
}
.search{
	position: absolute;
    text-align: center;
    width: 600px;
    height: 50px;
    border: 2px solid;
    border-radius: 10px;
    border-color: #000000;
    margin-left: 37%;
    margin-top: 0.6%;
}
.docTree{
	position: absolute;
    width: 300px;
    height: 500px;
    border-right: 2px solid;
    border-color: #000000;
    margin-left: 1%;
    margin-top: 0.6%;
}
.docGrid{
	position: absolute;
    width: 980px;
    height: 500px;
    margin-left: 25%;
    margin-top: 0.6%;
}