<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.firefly.dao.FolderMapper" >

  <resultMap id="userResult" type="com.firefly.domain.User" >
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_age" property="userAge" jdbcType="VARCHAR" />
    <result column="user_gender" property="userGender" jdbcType="VARCHAR" />
    <result column="user_photo" property="userPhoto" jdbcType="VARCHAR" />
    <result column="user_admin" property="userAdmin" jdbcType="VARCHAR" />
    <result column="user_active" property="userActive" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="folderResult" type="com.firefly.domain.Folder" >
    <id column="folder_id" property="folderId" jdbcType="VARCHAR" />
    <result column="folder_name" property="folderName" jdbcType="VARCHAR" />
    <result column="folder_createTime" property="folderCreatetime" jdbcType="VARCHAR" />
    <result column="folder_active" property="folderActive" jdbcType="VARCHAR" />
    <result column="folder_isRoot" property="folderIsRoot" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="BaseResultMap" type="com.firefly.domain.Folder" >
    <id column="folder_id" property="folderId" jdbcType="VARCHAR" />
    <result column="folder_name" property="folderName" jdbcType="VARCHAR" />
    <result column="folder_createTime" property="folderCreatetime" jdbcType="VARCHAR" />
    <result column="folder_active" property="folderActive" jdbcType="VARCHAR" />
    <result column="folder_isRoot" property="folderIsRoot" jdbcType="VARCHAR" />
    <association column="folder_parent" property="folderParent"  javaType="com.firefly.domain.Folder" jdbcType="VARCHAR" resultMap="folderResult"></association>
    <association column="folder_author" property="folderAuthor"  javaType="com.firefly.domain.User" jdbcType="VARCHAR" resultMap="userResult"></association>
	
  </resultMap> 
  
  <select id="getFolderForTree" resultMap="BaseResultMap">
	select * from folder where folder_active = '01' and folder_isRoot='01'
  </select>	  
  
  <select id="openFolder" resultMap="BaseResultMap" parameterType="java.lang.String">
	select * from folder where folder_active = '01' and folder_isRoot = '00' and folder_parent = #{folderId,jdbcType=VARCHAR}
  </select>	  
  
  <update id="deleteFolder" parameterType="java.lang.String">
  	update folder set folder_active = "00" where folder_id = #{folderId}
  </update>
  
  <insert id="newFolder" parameterType="com.firefly.domain.Folder" >
  	insert into folder (folder_id,folder_name,folder_parent,folder_createTime,folder_active,folder_author,folder_isRoot)
  	value (#{folderId,jdbcType=VARCHAR},#{folderName,jdbcType=VARCHAR},#{folderParent.folderId,jdbcType=VARCHAR},#{folderCreatetime,jdbcType=VARCHAR},#{folderActive,jdbcType=VARCHAR},#{folderAuthor.userId,jdbcType=VARCHAR},#{folderIsRoot,jdbcType=VARCHAR}) 
  </insert>
</mapper>